### Team Beta ETL Project Proposal
Team Beta: Steve Kennedy, Camilla Inhapim, Michael Goff, Jason Hanlin
Topic: Major League Baseball
Task: ETL



Team Beta proposes to extract two data sources with a focus on Major League Baseball statistics.  
Work will be divided as follows:
•	Extraction – Jason and Steve
•	Transformation – Mike and Camilla
•	Load – Marlon

The links for the project are as follows:
•	https://github.com/tenntully/Project2-TeamBeta.git
•	https://www.seanlahman.com/baseball-archive/statistics/
•	https://www.kaggle.com/datasets/open-source-sports/baseball-databank

Our transformed data will be loaded to Postgres.

In [1]:
import pandas as pd

#Apply global formatting to all floats to only show hundredths
pd.options.display.float_format = '{:,.2f}'.format

#Load school and student data sets
teams_data_load = "Resources/Teams.csv"
franchise_data_load = "Resources/TeamsFranchises.csv"

#Read data into pandas DF
teamsData = pd.read_csv(teams_data_load)
franchiseData = pd.read_csv(franchise_data_load)

#Combine data into a single file; combine on school_name
team_data_full = pd.merge(teamsData, franchiseData, how="left", on=["franchID", "franchID"])
#team_data_full.head()
team_data_full.columns

Index(['yearID', 'lgID', 'teamID', 'franchID', 'divID', 'Rank', 'G', 'Ghome',
       'W', 'L', 'DivWin', 'WCWin', 'LgWin', 'WSWin', 'R', 'AB', 'H', '2B',
       '3B', 'HR', 'BB', 'SO', 'SB', 'CS', 'HBP', 'SF', 'RA', 'ER', 'ERA',
       'CG', 'SHO', 'SV', 'IPouts', 'HA', 'HRA', 'BBA', 'SOA', 'E', 'DP', 'FP',
       'name', 'park', 'attendance', 'BPF', 'PPF', 'teamIDBR',
       'teamIDlahman45', 'teamIDretro', 'franchName', 'active', 'NAassoc'],
      dtype='object')

In [2]:
#drop columns
team_data = team_data_full[['yearID',
                           'park',
                           'teamID',
                           'name',
                           'franchName',
                           'G',
                           'W',
                           'L',
                           'attendance']]

In [3]:
team_data.rename(columns={'yearID': "Year",
                            'park': "Park",
                            'teamID': "Team",
                            'name': 'Name',
                            'franchName': 'Franchise_Name',
                            'G': "Games",
                            'W': "Wins",
                            'L': 'Losses',
                            'attendance': 'Attendance'}, inplace=True)
team_data.index.name ="ID"
team_data

C:\Users\Camilla\AppData\Local\Temp\ipykernel_19788\1170900331.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  team_data.rename(columns={'yearID': "Year",

,Year,Park,Team,Name,Franchise_Name,Games,Wins,Losses,Attendance
ID,,,,,,,,,
0,1871,South End Grounds I,BS1,Boston Red Stockings,Boston Red Stockings,31,20,10,NaN
1,1871,Union Base-Ball Grounds,CH1,Chicago White Stockings,Chicago White Stockings,28,19,9,NaN
2,1871,National Association Grounds,CL1,Cleveland Forest Citys,Cleveland Forest Citys,29,10,19,NaN
3,1871,Hamilton Field,FW1,Fort Wayne Kekiongas,Fort Wayne Kekiongas,19,7,12,NaN
4,1871,Union Grounds (Brooklyn),NY2,New York Mutuals,New York Mutuals,33,16,17,NaN
...,...,...,...,...,...,...,...,...,...
3010,2022,Busch Stadium III,SLN,St. Louis Cardinals,St. Louis Cardinals,162,93,69,"3,320,551.00"
3011,2022,Tropicana Field,TBA,Tampa Bay Rays,Tampa Bay Rays,162,86,76,"1,128,127.00"
3012,2022,Globe Life Field,TEX,Texas Rangers,Texas Rangers,162,68,94,"2,011,361.00"
3013,2022,Rogers Centre,TOR,Toronto Blue Jays,Toronto Blue Jays,162,92,70,"2,653,830.00"
3014,2022,Nationals Park,WAS,Washington Nationals,Washington Nationals,162,55,107,"2,026,401.00"

## Loading Operation into PostgreSQL

In [14]:
from sqlalchemy import create_engine
from sqlalchemy import Column, Integer, String, Float
from sqlalchemy.ext.declarative import declarative_base
from sqlalchemy.orm import Session
Base = declarative_base()

In [15]:
class MLB(Base):
    __tablename__ = 'MLB_Teams'
    id = Column(Integer, primary_key=True)
    Year = Column(Integer)
    Park = Column(String(255))
    Team = Column(String(255))
    Name = Column(String(255))
    Franchise_Name = Column(String(255))
    Games = Column(Integer)
    Wins = Column(Integer)
    Losses = Column(Integer)
    Attendance = Column(Integer)

In [16]:
dbName = 'MLBproject'
userName = 'postgres'
password = 'password'
engine = create_engine(f"postgresql://{userName}:{password}@localhost/{dbName}")
conn = engine.connect()

In [17]:
Base.metadata.create_all(engine)

In [18]:
session = Session(bind=engine)

In [ ]:
# Create MLB_Teams table
MLBdata = session.query(MLB)
for dataRow in MLBdata:
#    team_data

"""     
    data = MLB(
        id = dataRow.id,
        Year = dataRow.Year,
        Park = dataRow.Park,
        Team = dataRow.Team,
        Name = dataRow.Name,
        
            id = Column(Integer, primary_key=True)
    Year = Column(Integer)
    Park = Column(String(255))
    Team = Column(String(255))
    Name = Column(String(255))
    Franchise_Name = Column(String(255))
    Games = Column(Integer)
    Wins = Column(Integer)
    Losses = Column(Integer)
    Attendance = Column(Integer)
    )
    
session1.add(data)
session1.commit()

"""